@use "../../assets/scss/variables.scss" as v;
.contact-section-container h2 {
    font-size: 35px;
}

.contact-section-container .group {
    display: flex;
    gap: 50px;
}

.contact-section-container .group .text {
    flex: 3;
    margin-top: 20px;
    font-size: 17px;
    text-align: justify;
    line-height: 2rem;

}

.contact-section-container .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section-container .group form input,
.contact-section-container .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid v.$link-color;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section-container .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: v.$link-color;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section-container .group form button:hover {
    filter: brightness(.9);
}

@media (max-width:740px) {
    .contact-section-container .group {
        flex-direction: column;
    }

}