@use "../../assets/scss/variables.scss" as v;

.contact-section-container{
    margin: 50px 0 ;
}

.contact-section-container h2 {
    font-size: 35px;
}

.contact-section-container .group {
    display: flex;
    gap: 50px;
}

.contact-section-container .group .text {
    flex: 3;
    margin-top: 20px;
    font-size: 17px;
    text-align: justify;
    line-height: 2rem;

}

.contact-section-container .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section-container .group form input[type="email"] {
   text-transform: uppercase;
}
.contact-section-container .group form input,
.contact-section-container .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid v.$link-color;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    outline: none;
    resize: none;
}


.contact-section-container .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: v.$link-color;
    border: none;
    padding: 10px 20px;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section-container .group form button:hover {
    filter: brightness(.9);
}
.contact-section-container .group form .button-group{
    display: flex;
    width: 100%;
    gap: 5px;
    
}
.contact-section-container .group form .button-group button:nth-of-type(1){
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex: 5;
}
.contact-section-container .group form .button-group button:nth-of-type(2){
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex: 5;
    background-color: black;
}
.contact-section-container .group form .button-group button:nth-of-type(2):hover{
    background-color: #bdbdbd;
    color: black;
    font-weight: bold;

}

@media (max-width:740px) {
    .contact-section-container .group {
        flex-direction: column;
    }

}