// $text-light: #1a1c20;
// $secondary-color: #4a76ee;
// $primary-color: #eeeff1;
// $white: #323232;
// $text-light: #e0e0e0;

$primary-color: #000000;
$secondary-color: #ff4e05;
$secondary-color-dark: #bf3900;
$text-dark: #0d1319;
$text-light: #9ca3af;
$white: #ffffff;
$max-width: 1200px;