nav {
    // position: absolute;
    padding: 0 50px;
    height: 80px;
    margin-bottom: 100px;
    padding-inline: 10px;

}

.hero-section {
    padding: 0 50px;
    height: 50%;
    margin: 50px 0;
    margin-bottom: 100px;
    // border: 2px solid red;

}

main {
    height: 100vh;
    // overflow: auto;
    // scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

main section {
    // position: absolute;
    padding: 0 50px;
    
    overflow: auto;
    // height: 100%;
    // scroll-snap-align: start;
}

.projects-section {
    // height: auto;
    margin-top: 100px;
    // border: 1px solid red;
}

.contact-section {
    // height: 100%;
    margin: 100px 0;

}

.skills-section {
    margin-bottom: 100px;
}

.layout-container{
    height: 100vh;
    overflow: scroll;
    // padding-inline: 25px;
    
}

@media (max-width:600px) {

    /* NAVBAR STARTS HERE */
 

    /* NAVBAR END HERE */

    .skills-section {
        height: auto;
        margin-bottom: 100px;
    }

    .projects-section {
        margin-bottom: 100px;
        height: auto;
    }

    .contact-section {
        height: auto;
        margin-bottom: 100px;
    }

    main {
        scroll-snap-type: none;
    }

}

@media (max-width:740px) {
    .hero-section {
        height: auto;
    }
}
