@use "../../assets/scss/variables.scss" as v;
nav {
    height: 80px;
    // margin-bottom: 100px;
}

.hero-section {
    margin: 50px 50px 100px 0;
    // display: flex;
    // place-items: center;
    height: 100%;
    // justify-content: space-around;
    // margin-inline: 50px;

}

main {
    // height: 100vh;
    // height: 100dvh;
    overflow: auto;
    height: 100%;
    // scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    // scrollbar-width: none;

}

main section {
    // position: absolute;
    padding: 50px 50px;
    // margin-inline: 50px;
    overflow: auto;
    // height: 100%;
    // scroll-snap-align: start;
}

.projects-section {
    // height: auto;
    margin: 100px 0;
    margin-inline: 50px;
    display: flex;
    align-items:center ;
    // border: 1px solid red;
}

.contact-section {
    height: 100%;
    margin: 100px 0;
    background-color: v.$text-dark;
    margin-inline: 50px;
    display: flex;
    place-items: center;

}

.skills-section {
    background-color: v.$text-dark;
    margin: 100px 0;
    margin-inline: 50px;
    // border: 1px solid red;
}

.layout-container{
    height: 100vh;
    overflow: hidden;
  scroll-behavior: smooth;
  
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );

  /* Animation */
    // padding-inline: 25px;
    
}

@media (max-width:810px) {

    /* NAVBAR STARTS HERE */
    nav{
    margin-inline:unset;

    }

    /* NAVBAR END HERE */
    main section {
        padding:0 20px;
        // border: 1px solid red;
    }

    .skills-section {
        
        height: auto;
        margin-bottom: 100px;
    }

    .projects-section {
        margin-bottom: 100px;
        height: auto;
    }

    .contact-section {
        height: auto;
        margin-bottom: 100px;
    }

    main {
        // scroll-snap-type: none;
    }

}

@media (max-width:740px) {
    nav{
     margin-bottom: 20px;
    margin-inline:unset;

    }
    .hero-section {
        height: auto;
        margin: 10px 0;
    }

    main section {
        padding:0 10px;
        margin: 10px 0;
        // border: 1px solid red;
    }
    .projects-section {
        margin: 10px 0;
    }
    .skills-section{
        margin: 10px 0;
    }
    .contact-section{
        margin: 10px 0 50px 0;
    }

}
