@use "../../assets/scss/variables.scss" as v;

.skill-section-container{
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid white;

}

.skill-section-container h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    color: v.$white;
    font-weight: bold;
}

.skill-section-container h2 span {
    color: v.$secondary-color;
}

.skill-section-container .text {
    margin-bottom: 50px;
    line-height: 2rem;
    text-align: justify;
    font-size: 17px;
}

.skill-section-container .cells {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-section-container .cells .cell {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    background-color: v.$secondary-color-dark;
    color: v.$white;
    padding: 10px 20px;
    margin: 10px;
    // border: 1.5px solid v.$text-light;
    border-radius: 5px;
}
.skill-section-container .cells .cell:nth-child(even){
    background-color: v.$secondary-color;
}

.skill-section-container .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.nav-tabs {
    // border: 1px solid #c6c6c6!important;
    // padding: 10px!important;
    border-bottom: none !important;
}

.nav {
    // border: 1px solid v.$text-light !important;
    border-radius: 15px;
    padding: 20px !important;
    width: 100%;
    background-color: v.$text-light;

}

.nav-tabs .nav-link {
    padding: 10px;
    font-weight: bold;
    color: v.$white;
    border: none;

}

.nav-tabs .nav-link.active {
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: v.$primary-color;
    border-radius: 30px;
    border: none;
    outline: none;
}

.nav-tabs .nav-link:hover {
    border: none;
}


.skill-certification_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 25px;
    // justify-content: center;
    // margin-inline:188px ;
    padding-inline: 50px;
    margin-top: 50px;
    flex: 1;


    &__certifcate {
        border: 1px solid rgb(148, 148, 148);
        height: 300px;
        width: 400px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1;
        }

        &:hover::after {
            // height: 100%;
            transform: translateY(0);
        }

    }

    .link-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        font-size: 24px;
        display: none;
        color: white;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 50%;
    }

    &:hover .link-icon {
        opacity: 1;
        transform: translate(-50%, -50%);
        display: block;
    }
}

.container_view {
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
    }
}
.modal-title{
    color: v.$primary-color;
}
@media (max-width:924px) {
    .skill-certification_container {
        justify-content: center;
        margin-inline:unset ;

    }

}
@media (max-width:471px) {
    .nav {
        // border: 1px solid v.$text-light !important;
        width:unset;
    
    }

}

@media (max-width:720px) {
    .skill-certification_container{
        padding-inline: unset;
    }
    .skill-section-container {
        margin-top: 10px;
        
    }

    .skill-section-container h2 {
        font-size: 25px;
    }
    .nav {
        // border: 1px solid v.$text-light !important;
    
        width:unset;
    
    }

    .skill-section-container .text {
        font-size: 14px;
    }

    .skill-section-container .cells .cell img {
        width: 20px;
        height: 20px;
    }

    .skill-section-container .cells .cell span {

        font-size: 14px;
    }
}