@use "./assets/scss/variables.scss" as v;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins", sans-serif';
  color: v.$text-light;
  background-color: v.$primary-color;
  // width: 100vw;
  max-width: 3840px;
  user-select: none;
  
  // margin: 0 auto;
}
.layout-sec{
width: 100%;
scroll-behavior: smooth;

// border: 1px solid red;
}

@media (max-width:810px) {
  body {
    margin: unset;

  }
}